name: ci

on:
    push:
        branches:
            - main
        tags:
            - v*
    pull_request:
        branches:
            - main
    workflow_dispatch:

jobs:
    build:
        name: ${{ matrix.os }} ${{ matrix.version }}
        runs-on: ${{ matrix.os }}

        # Not containing 'SKIP CI' in the commit message AND
        # (Either non-Windows OR triggered on 'push' (if triggered by 'pull_request', github.base_ref is not empty)
        if: "!contains(github.event.head_commit.message, 'SKIP CI')"
        timeout-minutes: 20
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, windows-latest, macos-latest]
                version: ['stable']

        steps:
            - name: Set git to use LF
              if: ${{ matrix.os == 'windows-latest' }}
              run: |
                  git config --global core.autocrlf false
                  git config --global core.eol lf

            - name: Clone repository
              uses: actions/checkout@v3

            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: '18'
                  cache: 'npm'

            - name: Install dependencies
              run: npm ci

            - name: Lint check
              run: npm run lint
              if: ${{ matrix.os == 'ubuntu-latest' && matrix.version == 'stable' }}

            - name: Compile
              run: npm run compile

            - name: Run tests (Linux)
              run: xvfb-run -a npm run test
              if: ${{ matrix.os == 'ubuntu-latest' }}
              env:
                  CODE_VERSION: ${{ matrix.version }}
                  VSCODEGO_BEFORE_RELEASE_TESTS: true
            - name: Run tests (Windows/Mac)
              run: npm run test
              if: ${{ matrix.os != 'ubuntu-latest' }}
              env:
                  CODE_VERSION: ${{ matrix.version }}
                  VSCODEGO_BEFORE_RELEASE_TESTS: true

            - name: Publish
              if: success() && startsWith(github.ref, 'refs/tags/') && matrix.os == 'ubuntu-latest'
              run: vsce publish ${GITHUB_REF#refs/tags/}
              env:
                  VSCE_PAT: ${{ secrets.VSCE_PAT }}
